<?xml version="1.0" encoding="UTF-8"?>
<configuration status="TRACE">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <RollingFile name="MyFile" fileName="logs/log4j2_log.log" filePattern="log4j2_log_%d{yyyy-MM-dd}.log">
        <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        <Policies>
	       <TimeBasedTriggeringPolicy />
	    </Policies>
    </RollingFile>             
  </appenders>

  <loggers>     
    <root level="trace">
      <appender-ref ref="Console" level="info"/>
      <appender-ref ref="MyFile" level="error"/>
    </root>    
  </loggers>
</configuration>